.wrapper {
  padding: 0 70px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

body {
  background-color: #FEECFF;
}

.header {
  background: linear-gradient(270deg, #FC6DFF 0%, #FF64EF 100%);
}

.header__content {
  display: flex;
  justify-content: space-between;
}

.header__content h1 {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #FCD7FF;
  padding: 32px 0;
}

.header__dropdowns {
  margin: auto 0;
  display: flex;
}

.dropdown__button {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #FCD7FF;
  margin-right: 32px;
  transition: color 0.2s ease-in-out;
}

.dropdown__button:hover {
  color: #f6abfb;
}

.dropdown__content {
  position: absolute;
  display: none;
  width: 146px;
  height: 141px;
  padding: 20px 20px 0 20px;
  background: #FFFFFF;
  border-radius: 20px;
  filter: drop-shadow(0px 4px 7px rgba(0, 0, 0, 0.1));
  z-index: 1;
}

.dropdown__li {
  margin: auto;
  margin-bottom: 6px;
}

.dropdown__link {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #1F1F1F;
}

.open {
  display: block;
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-25px);
  }

  100% {
    transform: translateY(0);
  }
}

.about-me__content {
  display: flex;
  justify-content: space-between;
}

.about-me__left-side {
  margin: auto 0;
}

.about-me__left-side h1 {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  color: #1E0722;
  margin-bottom: 56px;
}

.about-me__left-side p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #000000;
}

.about-me__woman {
  padding-top: 106px;
}

.services {
  background-color: #fff;
}

.services__content {
  padding-bottom: 80px;
}

.services__heading {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
  color: #000000;
  padding-top: 30px;
  margin-bottom: 55px;
}

.services__cards {
  display: flex;
  justify-content: space-between;
}

.card {
  position: relative;
  width: 371px;
  height: 350px;
  background: url(png/card__bg0.png) no-repeat;
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 4px 4px 8px 7px rgba(0, 0, 0, 0.15);
}

.card_1 {
  background: url(png/card__bg1.png) no-repeat;
}

.card_2 {
  background: url(png/card__bg2.png) no-repeat;
}

.card__text {
  width: 371px;
  height: 192px;
  position: absolute;
  top: 158px;
  background: linear-gradient(264.96deg, #FE69F7 3.67%, #E446DD 99.35%);
  border-radius: 0px 0px 20px 20px;
}

.card__heading {
  font-family: "Merriweather", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
  padding: 17px 30px 0px 30px;
}

.card__p {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding: 39px 30px 30px 30px;
}

.card__p_2 {
  padding-top: 0px;
}

.footer {
  background: #542B52;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__left-side {
  padding: 39px 0 59px 0;
}

.footer__left-side ul li {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #E3E3E3;
  padding-bottom: 6px;
}

.footer__right-side {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #E3E3E3;
  margin: auto 0;
}


/*SERVICE*/

.table {

}

th {
  display: none;
}

tr td {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;

  color: #000000;
}
tr td:last-child {
  padding-left: 20px;
}

.aside {
  padding: 52px 27px;
  background: #FFFFFF;
  box-shadow: 2px 2px 8px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: grid;
}

.aside a {
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;

  color: #000000;
}

.aside a:hover {
  color: #585858;
}
.main__content {
  display: flex;
  justify-content: space-between;

  padding-top: 74px;
  margin-bottom: 154px;
}
/*# sourceMappingURL=style.css.map */